body {
    margin: 0;
    min-width: 100vw;
}


.navbar {
    display:flex;
    justify-content: space-between;
    /* border: 1px pink solid; */
    background-color: #313131;
}

.logo {
    max-width: 10%;
    max-height: 10%;
}

.nav_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 100px;
}

ul > button {
    margin: 0px 25px 0px 25px;
    padding: 5px;
    max-height: 50%;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}

.hero_section {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}

.hero_image {
    max-width: 20%;
    max-height: 20%;

}

.hero_content {
    color: white;
    margin-left: 100px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;

}

.left, .mid, .right {
    border: 1px black solid;
    flex:1;
    margin: 0 40px 0 40px;
    padding: 20px;
    max-width: 300px;
    min-width: 400px;
}

.about {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
}